@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  
    <h1>Çalışma Programı Oluştur</h1>
    <button type="button" onclick="location.href='@Url.Action("for14days")'">14 GÜNLÜK PROGRAM</button>
    <button type="button" onclick="location.href='@Url.Action("formonth")'">30 GÜNLÜK PROGRAM</button>
</div>
